@model IEnumerable<UserViewModel>
@{
    var roleList = ViewBag.RoleList;
}
<!DOCTYPE html>
<html>
<head>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="~/images/header-logo.png" alt=""/>
            </a>
            <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto d-flex flex-row">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Admin" asp-action="Index">Admin Panel</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px; 
        }
        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
        }
        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>


<!-- Search form -->
<div class="text-center mt-5 p-4">
    <h2>User Management</h2>
</div>

<form class="p-1" method="get" asp-controller="AdminUsers" asp-action="Index">
    <input class="admin-text" type="hidden" name="filterName" value="Search"/>
    <input class="mb-2 admin-text" type="text" name="email" placeholder="Enter search query"/>
    <button type="submit" class="btn-secondary">Search</button>
</form>

<!-- First table for displaying users -->

<table>
    <thead>
    <tr>
        <th>Email</th>
        <th>Role</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Email</td>
            <td>@item.Role</td>
            <td>
                <a class="btn btn-secondary" asp-controller="AdminUsers" asp-action="Update" asp-route-email="@item.Email">Edit</a>
                <a class="btn btn-secondary" asp-controller="AdminUsers" asp-action="DeleteUser" asp-route-email="@item.Email">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
<div class="page-navigation">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul>
                    @if (ViewBag.currentPage > 1)
                    {
                        <li>
                            <a asp-controller="AdminUsers" asp-action="Index" asp-route-currentPage="@((int)ViewBag.currentPage - 1)">
                                <i >
                                    <img src="~/images/LEFT.png" alt="left-cursor"/>
                                </i>
                            </a>
                        </li>
                    }
                    <li>
                        <span>@ViewBag.currentPage</span>
                    </li>
                    @if ((int)ViewBag.currentPage < (int)ViewBag.PageNum)
                    {
                        <li>
                            <a asp-controller="AdminUsers" asp-action="Index" asp-route-currentPage="@((int)ViewBag.currentPage + 1)">
                                <i >
                                    <img src="~/images/RIGHT.png" alt="right-cursor"/>
                                </i>
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
<h2>Roles</h2>
<table>
    <thead>
    <tr>
        <th>Roles</th>
    </tr>
    </thead>
    <tbody>
    <!-- Loop to display roles -->
    @foreach (var item in roleList)
    {
        <tr>
            <td>@item</td>
        </tr>
    }
    </tbody>
</table>

<a class="btn btn-secondary" asp-controller="AdminUsers" asp-action="Edit">Edit</a>
</body>
</html>